<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <label style="font-weight: bold">Test</label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mx-auto text-center" style="border: 1px solid black;">

        <label for="">Programmer A</label><br>
        <div style="background-color: red; border-radius: 50%"></div>
        <button [hidden]="end" [disabled]="enableButton" class="btn btn-success mb-3" (click)="turnA()">OK</button> <br>
        <div>
            <label for="">Opciones a seleccionar</label> {{min}} - {{max}}
            <label for="">Selecionada: {{min}}</label><br>
            <label for=""></label> <br>
        </div>
    </div>
    <div class="col-md-4 mx-auto text-center" style="border: 1px solid black;">
        [ {{golds}} ]
        <br>
        <label for="">Respuesta:</label>
        <br>
        <span class="text-success" style="font-weight: bold; font-size: 30px;" *ngIf="result.length !== 0">[{{result}}]</span> <br>
    </div>
    <div class="col-md-4 mx-auto text-center" style="border: 1px solid black;">
        <label for="">Programmer B</label><br>
        <div style="background-color: red; border-radius: 50%"></div>
        <button [hidden]="end" [disabled]="!enableButton" class="btn btn-success mb-3" (click)="turnB()">OK</button>
        <div>
            <label for="">Opciones a seleccionar</label> {{min}} - {{max}}
            <label for="">Selecionada: {{min}}</label>
        </div>
    </div>
</div>