.breakText {
    word-wrap: break-word;
}

.turn {
    background-color: #cb1515;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    float: right;
}

.bordr {
    border: 2px solid black;
    border-style: dashed;
}

.win {
    display: inline-block;
    width: 70px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(70, 192, 0, 0.8);
}